<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittleMeraki"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".All_Dues.Custom_Due_Message"
            android:exported="false" />
        <activity
            android:name=".Dashboard.Notification_History"
            android:exported="false" />

        <receiver
            android:name=".Utility.DueNotification"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Utility.DueNotification_Service"
            android:exported="false" />

        <activity
            android:name=".All_Dues.Due_Dates"
            android:exported="false" />
        <activity
            android:name=".Personal_Dues.Personal_Due_Dash"
            android:exported="false" />
        <activity
            android:name=".TimeTable.Timetable"
            android:exported="false" />
        <activity
            android:name=".Course_Division.Student_Info"
            android:exported="true"
            android:theme="@style/Theme.LittleMeraki" />
        <activity
            android:name=".Fee.Fee_Structure"
            android:exported="false" />
        <activity
            android:name=".Students.AddStudents"
            android:exported="false" />
        <activity
            android:name=".Dashboard.Dashboard"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>